@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff !important;
}

.loader-img {
    width: 250px;
}

<<<<<<< HEAD
.high-contrast {
    color: white;
    background: black;
}

.high-contrast-text {
    color: white;
}

a,
.link-class-none {
    all: initial;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.content-body {
    min-height: 35vh;
}

.container-card {
    background-color: #1987542f;
}

@media (max-width: 1060px) {
    .desktop-only {
      display: none;
    }
}