$nav-btn-color: #9D3207;
$acessibility-menu-color: #9D3207;
$product-card-title: #9D3207;
$product-card-price: #9D3207;
$home-show-case-title: #9D3207;
$nav-link-color: white;
$footer-color: #eab766c2;
$footer-color2: #9d3207f6;
$letter-footer-color: #474A51;